<div class="jumbotron">
  <h3 class="display-5">Let's 作り置き!</h3>
  <hr class = "my-4">
  <p class="lead">このサイトは、お金と時間がない大学生のために、作り置きのレシピだけをまとめたサイトです.<br/>
  料理初心者の方は、料理時間が短いものを、腕に覚えがある方は、ぜひ難しいレシピに挑戦してみてください。
</p>
  <h3 class="display-5">使い方</h3>
  <hr class="my-4">
  <p class="lead">上段にある　レシピ一覧　からレシピ一覧をご覧になれます</p>
  <p class="lead">新しいレシピを作成する　では、レシピを投稿することも可能です</p>
</div>
<section>
<h3 class="text-center">人気のレシピ</h3>
    <div class="container">
        <% @recipes.each do |recipe| %>
            <div class = "row">
                <div class="col">レシピ名: <%= link_to recipe.title, recipe %></div>
                <div class="col">説明:<%= recipe.description %></div>
                <div class="col">保存方法:<%= recipe.storage_method %></div>
                <div class="col">費用:<%= recipe.price %></div>
            </div>
        <% end %>
    </div>
<section>

