<div class="jumbotron">
  <h3 class="display-5">レシピ作成</h3>
  <hr class = "my-4">
  <p class="lead">このページでは、新しいレシピを作成することが可能です。
  </p>
</div>

<%= render 'form', recipe_form: @recipe_form, form_url: recipes_path %>
